
*{
	font-size: 20px;
	font-weight: bold;
}

body{
	background: url(../images/old_map.png);
}

div{
	/*border: 1px solid blue;*/
	padding: 5px;
}

button{
	margin: 2px;
	
}

.btn-query
{
	font-size: 16px;
	font-weight: bold;
}

.gif{
	border: 3px solid #ffb999;
}

.gifDownload{
	height: 37px;
}

.titleRating{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#header{
	background: url(../images/congruent_pentagon.png);
	border: 3px solid #76efa4;
	margin: 10px 0px 0px 0px;
	padding: 50px 0px 50px 0px;
	text-align: center;
}

.miniHeader{
	background: url(../images/congruent_pentagon.png);
	border: 3px solid #76efa4;
	margin: 5px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	overflow: auto;
}

#inputArea{
	background-color: #d6d9db;
	border: 3px solid #6c757d;
	padding: 10px;
	
	/*border: 3px solid #e3ba68;*/
}

#title{
	font-size: 60px;
	font-weight: bolder;
}

#subtitle{
	font-size: 30px;
	font-weight: bold;
}



#newButtonText{
	width: 55%;
	border: 3px solid #6c757d;
	vertical-align: text-bottom;
}

#gifArea{
	background: url(../images/sakura.png);
	border: 3px solid #ffb999;
}

#btn-add{
	vertical-align: text-bottom;
	margin-left: 5px;
}

#btn-reset{
	vertical-align: text-bottom;
	margin-left: 5px;
}

#btn-gif-clear{
	float: right;
}

#btn-fav-clear{
	float: right;
}